.content {
    margin-top: 8rem;
}
.deskripsi p{
    color: #5D646D;
    font-size: 16px;
}
.font *{
    font-family: Open Sans, sans-serif;
}
.img{
    width: 100%;
}
.copy-link{
    border: 1px solid #D1D1D1;
    text-decoration: none;
    border-radius: 3rem;
    padding: 0.5rem;
    color: black !important;
    cursor: pointer;
}
.card-tag--makanan {
    border-radius: 3rem;
    background-color: #5EAD2B;
    padding: 0.5rem;  
}
.card-tag--barang {
    border-radius: 3rem;
    background-color: #1C8FB9;
    font-family: "Open Sans", sans-serif;
}

.card-tag--jasa {
    border-radius: 3rem;
    background-color: #FFC400;
    font-family: "Open Sans", sans-serif;
}