.card-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.badge {
    border: 0px !important;
}

.card-tag {
    border-radius: 3rem;
    background-color: #5EAD2B;
    font-family: Open Sans, sans-serif;
}

.content p {
    margin-bottom: 0;
}

.btn-more {
    background: #1C8FB9;
    border-radius: 8px;
    padding: 1rem;
    color: #fff;
}

.card-title {
    font-weight: 400;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
}

.card-text {
    color: #5D646D;
    font-size: 0.8rem;
    font-family: Open Sans, sans-serif;
}

.card-link {
    color: #1C8FB9;
    font-family: Open Sans, sans-serif;
}