.content {
    background-color: #f6f8fa;
    width: 100%;
}

.content * {
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.form{
    background-color: #fff;
    height: 100%;
    padding: 2rem;
}

.preview{
    width: 100%;
}