.bg{
    background-color: #F3F9FB;
    min-height: 30em;
}
hr.divider-custom {
    height: 0.4rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #1C8FB9;
}
.swiper-pagination{
    position: relative !important;
}
.btn-more {
    background: #1C8FB9;
    border-radius: 8px;
    padding: 1rem;
    color: #fff;
}