.swiper-pagination{
    margin-top: 2rem;
    position: relative !important;
}
.swiper-pagination-bullet-active{
  background-color: #1C8FB9 !important;
}
#mainDashboard {
  transition: margin-left 0.5s;
}