.swiper-pagination{
    margin-top: 2rem;
    position: relative !important;
}
.swiper-pagination-bullet-active{
  background-color: #1C8FB9 !important;
}
.offcanvas{
  width: 15rem !important;
}
@media (min-width: 992px) {
  .offcanvas{
    display: none !important;
  }
}
.table-bordered{
  border: 1px solid #5D646D;
}
.table-bordered>thead>tr>th{
  border: 1px solid #5D646D;
}
.table-bordered>tbody>tr>td{
  border: 1px solid #5D646D;
}